name: Build

on:
  push:
    tags:
      - 'v*'
jobs:
  build:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-18.04, macos-10.15, windows-2019]
        goarch: [amd64, arm64]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: "1.17"
      - run: VERSION=${GITHUB_REF} make build
        env:
          GOARCH: ${{ matrix.goarch }}
      - uses: softprops/action-gh-release@v1
        with:
          files: lens-k8s-proxy-${{ matrix.os }}-${{ matrix.goarch }}
